# Supabase / PostgreSQL
DATABASE_URL=
DIRECT_URL=

# Better Auth
BETTER_AUTH_URL="http://localhost:3000"
BETTER_AUTH_SECRET=

# Google OAuth Web Client
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Resend
RESEND_API_KEY=
EMAIL_FROM="WattUp <onboarding@resend.dev>"

# Public application information
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_SUPPORT_EMAIL=
